name: "film-management"
http:
  port: 8080
debugHttp:
  port: 8081
storage:
  postgres:
    host: "db_film_management"
    port: 5432
    database: "db"
    username: "film"
    password: "film"
log:
  json: false
  level: "Debug"
  colored: true
  development: true