name: "film_management"
http:
  port: 8080
  corsAllowedOrigins: ["http://localhost:8088"]
  notAuthUrls: [
    "/api/v1/health",
    "/api/v1/swagger",
    "/api/v1/user/register",
    "/api/v1/user/login",
  ]
debugHttp:
  port: 8081
storage:
  postgres:
    host: "db_film_management"
    port: 5432
    database: "db"
    username: "film"
    password: "film"
log:
  json: false
  level: "Debug"
  colored: true
  development: true
services:
  auth:
    authDurationMin: 60